################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Monek.Checkout.PrestaShop/FileContentIndex
/.vs
